@media screen and (max-width: 1000px) {
    body {
        background-color: black;
    }

    .backgroundImageDiv1
    {
        width: 100vw;
        overflow-x: hidden;
    }

    .backgroundImageDiv1 img
    {
        width: 250vw;
        margin-left: -75vw;
    }

    .tailerDiv
    {
        font-size: 30px;
        margin-top: 5vh;
        /* display: none; */
    }

   

    .intro img
    {
        display: none;
    }

    .header img
{
    margin-top: -10vh;
    width: 100vw;

}

    /* .xcx
    {
        margin-top: -50vh;
        width: 100vw;
    } */

    #root3
    {
        margin-top: -20vh;
        overflow: hidden;
    }

    #last-root
    {
        overflow: hidden;
        height: 130vh;
    }

    .tT
    {
        margin-top: 15vh;
        font-size: 20px;
    }
    .route
    {
        width: 100vw;
        /* height: 500vh; */
        z-index: 30;
        display: absolute;
        overflow-x: hidden;
    }

    .underline{
        width: 40vw;
    }

    .textBox
    {
        padding: 10px;
        width: 60vw;
    }

    .console-controls
{
    width: 100vw;
    
}

.banner-img-div
{
    width: 100vw;
    display: grid;
    place-content: center;
}

.close
{
    margin-left: 9vw;
}

    #console-board
    {
        margin-top: 1vh;
        width: 100vw;
        height: 20vh;
        background-color: #000000;
        font-size: medium;
    
    }

    .console-image-div img
    {
        width: 65vw;
        height: 20vh;
    }

    .image-arr img
    {
        width: 16vw;
    }

    .nav-bar
    {
        width: 100vw;
        z-index: 100;
    }

    .social-div
    {
        margin: 0px;
        margin-right: 30px;
        background-color: #00000000;
        height: 40vh;
        padding: 20px;
        width: 10vw;
        z-index: 1;
        top: 1;
    }

    .social-div i{
        display: block;
        padding: 15px 15px 15px;
        border: none;
        /* border-radius: 5px; */
        margin-bottom: 10px;
    }

    .intro img
    {
        height: 20vh;
        margin-top: 1;
    }

    @keyframes bouncey 
{
    
    100%
    {
        margin-top: -2vh;
    }


}

    .consoleF
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    
}

.av{
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
}


.av-img2
{
    margin-left: -10vw;
    width: 150vw;
    height: 70vh;
}

.av-img
{
    position: absolute;
    margin-left: -10vw;
    width: 120vw;
}

.root3
{
    margin-top: -35vh;
}

.console-img{
    width: 100vw;
    margin-top: -5vh;
}

#t-hanlde
{
    /* margin-top: -0.1vh; */
    font-size: 15px;
}

}
  